{
  "openapi": "3.0.3",
  "info": {
    "title": "Solid v2",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.solidfi.com"
    },
    {
      "url": "https://api.solidfi.com"
    }
  ],
  "paths": {
    "/v2/master_account/{master_account_id}": {
      "get": {
        "tags": [
          "Master Accounts"
        ],
        "summary": "Retrieve a Master Account",
        "description": "Retrieve a Master Account",
        "operationId": "retrieveAMasterAccount",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Master Account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/master_account"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/master_account_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "master_account_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/master_account": {
      "get": {
        "tags": [
          "Master Accounts"
        ],
        "summary": "List all Master Accounts",
        "description": "List all Master Accounts",
        "operationId": "listAllMasterAccounts",
        "parameters": [
          {
            "name": "master_account_holder_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{master_account_holder_id}}"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List all Master Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_master_account"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/list_master_account_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/sub_account_holder": {
      "get": {
        "tags": [
          "Sub Account Holders"
        ],
        "summary": "List all Sub Account Holders",
        "description": "List all Sub Account Holders",
        "operationId": "listAllSubAccountHolders",
        "parameters": [
          {
            "name": "master_account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{master_account_id}}"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List all Sub Account Holders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_sub_account_holder"
                },
                "examples": {
                  "list_sub_account_holder_example": {
                    "$ref": "#/components/examples/list_sub_account_holder_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Sub Account Holders"
        ],
        "summary": "Create a Sub Account Holder",
        "description": "Create a Sub Account Holder",
        "operationId": "createASubAccountHolder",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "master_account_id": {
                    "type": "string",
                    "example": "mas_743fa071316bc6beaf5dddfd05f49c30"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "person",
                      "business"
                    ],
                    "example": "person"
                  },
                  "person": {
                    "type": "object",
                    "$ref": "#/components/schemas/person"
                  },
                  "business": {
                    "type": "object",
                    "$ref": "#/components/schemas/business"
                  },
                  "verification": {
                    "type": "object",
                    "$ref": "#/components/schemas/verification"
                  }
                },
                "required": [
                  "master_account_id",
                  "type"
                ]
              },
              "examples": {
                "Create a Sub Account Holder": {
                  "value": {
                    "master_account_id": "mas_456",
                    "type": "person",
                    "person": {
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "id_type": "ssn",
                      "id_number": "223902234",
                      "date_of_birth": "1974-01-25",
                      "phone": "+19418405843",
                      "email": "jane.doe@gmail.com",
                      "address": {
                        "line1": "123 Main St",
                        "line2": "",
                        "city": "New York",
                        "state": "NY",
                        "country": "US",
                        "postal_code": "10001"
                      }
                    },
                    "verification": {
                      "status": "pass",
                      "method": "persona",
                      "url": "https://withpersona.com/verify?inquiry-id=inq_p1LgZj3wp5xWMk5XUhWAMrgV"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a Sub Account Holder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account_holder"
                },
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/sub_account_holder/{sub_account_holder_id}": {
      "get": {
        "tags": [
          "Sub Account Holders"
        ],
        "summary": "Retrieve a Sub Account Holder",
        "description": "Retrieve a Sub Account Holder",
        "operationId": "retrieveASubAccountHolder",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Sub Account Holder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account_holder"
                },
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "patch": {
        "tags": [
          "Sub Account Holders"
        ],
        "summary": "Update a Sub Account Holder",
        "description": "Update a Sub Account Holder",
        "operationId": "updateASubAccountHolder",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "person": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "example": "Johnson"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Update a Sub Account Holder": {
                  "value": {
                    "person": {
                      "first_name": "Johnson"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a Sub Account Holder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account_holder"
                },
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "sub_account_holder_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/sub_account": {
      "get": {
        "tags": [
          "Sub Accounts"
        ],
        "summary": "List all Sub Accounts",
        "description": "List all Sub Accounts",
        "operationId": "listAllSubAccounts",
        "parameters": [
          {
            "name": "sub_account_holder_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{sub_account_holder_id}}"
            }
          },
          {
            "name": "master_account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{master_account_id}}"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List all Sub Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_sub_account"
                },
                "examples": {
                  "list_sub_account_holder_example": {
                    "$ref": "#/components/examples/list_sub_account_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Sub Accounts"
        ],
        "summary": "Create a Sub Account",
        "description": "Create a Sub Account",
        "operationId": "createASubAccount",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sub_account_holder_id": {
                    "type": "string",
                    "example": "sah_5ccfeef0adf0cbe2aa0980d2c9505752"
                  },
                  "label": {
                    "type": "string",
                    "example": "Ace payments"
                  },
                  "type": {
                    "type": "string",
                    "example": "cash",
                    "enum": [
                      "cash",
                      "prepaid"
                    ]
                  }
                }
              },
              "examples": {
                "Create a Sub Account": {
                  "value": {
                    "sub_account_holder_id": "",
                    "label": "Ace payments",
                    "type": "cash"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a Sub Account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account"
                },
                "examples": {
                  "sub_account_example": {
                    "$ref": "#/components/examples/sub_account_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/sub_account/{sub_account_id}": {
      "get": {
        "tags": [
          "Sub Accounts"
        ],
        "summary": "Retrieve a Sub Account",
        "description": "Retrieve a Sub Account",
        "operationId": "retrieveASubAccount",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Sub Account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account"
                },
                "examples": {
                  "sub_account_example": {
                    "$ref": "#/components/examples/sub_account_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "patch": {
        "tags": [
          "Sub Accounts"
        ],
        "summary": "Update a Sub Account",
        "description": "Update a Sub Account",
        "operationId": "updateASubAccount",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "example": "Ace PayOps"
                  }
                }
              },
              "examples": {
                "Update a Sub Account": {
                  "value": {
                    "label": "Ace PayOps"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a Sub Account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account"
                },
                "examples": {
                  "sub_account_example": {
                    "$ref": "#/components/examples/sub_account_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "sub_account_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/counterparty": {
      "get": {
        "tags": [
          "Counterparties"
        ],
        "summary": "List all Counterparties",
        "description": "List all Counterparties",
        "operationId": "listAllCounterparties",
        "parameters": [
          {
            "name": "sub_account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{sub_account_id}}"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List all Counterparties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_counterparty"
                },
                "examples": {
                  "list_sub_account_holder_example": {
                    "$ref": "#/components/examples/list_counterparty_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Counterparties"
        ],
        "summary": "Create a Counterparty",
        "description": "Create a Counterparty",
        "operationId": "createACounterparty",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70"
                  },
                  "label": {
                    "type": "string",
                    "example": "Development Vendor"
                  },
                  "type": {
                    "type": "string",
                    "example": "person",
                    "enum": [
                      "person",
                      "business"
                    ]
                  },
                  "person": {
                    "type": "object",
                    "$ref": "#/components/schemas/person"
                  },
                  "business": {
                    "type": "object",
                    "$ref": "#/components/schemas/business"
                  },
                  "intra_account": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_intra_account"
                  },
                  "ach": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_ach"
                  },
                  "domestic_wire": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_domestic_wire"
                  },
                  "international_wire": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_international_wire"
                  },
                  "rtp": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_rtp"
                  },
                  "fednow": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_fednow"
                  },
                  "check": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_check"
                  },
                  "debit_card": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_debit_card"
                  },
                  "purpose": {
                    "type": "string",
                    "example": "Offshore dev center"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "TW-9L1L2-UVV"
                  },
                  "metadata": {
                    "type": "object",
                    "$ref": "#/components/schemas/metadata"
                  }
                }
              },
              "examples": {
                "Create a Counterparty": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "label": "Development Vendor",
                    "type": "person",
                    "person": {
                      "first_name": "John",
                      "last_name": "Doe",
                      "id_type": "ssn",
                      "id_number": "223902234",
                      "date_of_birth": "1974-01-25",
                      "phone": "+19418405843",
                      "email": "john.doe@gmail.com",
                      "address": {
                        "line1": "123 Main St",
                        "line2": "",
                        "city": "New York",
                        "state": "NY",
                        "country": "US",
                        "postal_code": "10001"
                      }
                    },
                    "intra_account": {
                      "sub_account_number": "95483674098723",
                      "sub_account_id": "sub_cda1e562657c41e553104b10aad3fe70"
                    },
                    "ach": {
                      "account_number": "98324502",
                      "routing_number": "121042882",
                      "account_type": "business_checking",
                      "bank_name": "Wells Fargo",
                      "verification_status": "verified"
                    },
                    "rtp": {
                      "account_number": "98324502",
                      "routing_number": "121042882",
                      "account_type": "business_checking",
                      "bank_name": "Wells Fargo",
                      "verification_status": "verified"
                    },
                    "domestic_wire": {
                      "account_number": "98324502",
                      "routing_number": "121042882",
                      "account_type": "business_checking",
                      "bank_name": "Wells Fargo"
                    },
                    "international_wire": {
                      "account_number": "920020006167511",
                      "beneficiary_bank": {
                        "identifier_code": "ICICINBBNRI",
                        "name": "ICICI Bank",
                        "address": {
                          "line1": "256 Main St",
                          "line2": "",
                          "city": "Bengaluru",
                          "state": "KA",
                          "country": "IN",
                          "postal_code": "900009"
                        }
                      },
                      "correspondent_bank": {
                        "identifier_code": "SCBLUS33XXX",
                        "name": "STANDARD CHARTERED BANK",
                        "address": {
                          "line1": "1095 12th Ave",
                          "line2": "",
                          "city": "New York",
                          "state": "NY",
                          "country": "US",
                          "postal_code": "10001"
                        }
                      }
                    },
                    "purpose": "Offshore dev center",
                    "external_reference_id": "TW-9L1L2-UVV",
                    "metadata": {
                      "vendor_id": "VID-0987ACR"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a Counterparty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/counterparty"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/counterparty_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/counterparty/{counterparty_id}": {
      "get": {
        "tags": [
          "Counterparties"
        ],
        "summary": "Retrieve a Counterparty",
        "description": "Retrieve a Counterparty",
        "operationId": "retrieveACounterparty",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Counterparty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/counterparty"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/counterparty_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "patch": {
        "tags": [
          "Counterparties"
        ],
        "summary": "Update a Counterparty",
        "description": "Update a Counterparty",
        "operationId": "updateACounterparty",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "example": "Utilities"
                  }
                }
              },
              "examples": {
                "Update a Counterparty": {
                  "value": {
                    "label": "Utilities"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a Counterparty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/counterparty"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/counterparty_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "counterparty_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/card_holder": {
      "get": {
        "tags": [
          "Card Holders"
        ],
        "summary": "List all Card Holders",
        "description": "List all Card Holders",
        "operationId": "listAllCardHolders",
        "parameters": [
          {
            "name": "master_account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{master_account_id}}"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List all Card Holders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_card_holder"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/list_card_holder_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Card Holders"
        ],
        "summary": "Create a Card Holder",
        "description": "Create a Card Holder",
        "operationId": "createACardHolder",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70"
                  },
                  "person": {
                    "type": "object",
                    "$ref": "#/components/schemas/person"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "6RPD1QW-W75"
                  },
                  "purpose": {
                    "type": "string",
                    "example": "Ace Sales Rep"
                  },
                  "metadata": {
                    "type": "object",
                    "$ref": "#/components/schemas/metadata"
                  }
                }
              },
              "examples": {
                "Create a Card Holder": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "person": {
                      "first_name": "John",
                      "middle_name": "",
                      "last_name": "Doe",
                      "phone": "+19418405843",
                      "email": "john.doe@gmail.com",
                      "date_of_birth": "1974-01-25",
                      "address": {
                        "line1": "123 Main St",
                        "line2": "",
                        "city": "New York",
                        "state": "NY",
                        "country": "US",
                        "postal_code": "10001"
                      }
                    },
                    "external_reference_id": "6RPD1QW-W75",
                    "purpose": "Ace Sales Expense Card",
                    "metadata": {
                      "designation": "Senior Sales Manager",
                      "employee_number": "77"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a Card Holder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/card_holder"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/card_holder_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/card_holder/{card_holder_id}": {
      "get": {
        "tags": [
          "Card Holders"
        ],
        "summary": "Retrieve a Card Holder",
        "description": "Retrieve a Card Holder",
        "operationId": "retrieveACardHolder",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Card Holder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/card_holder"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/card_holder_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "patch": {
        "tags": [
          "Card Holders"
        ],
        "summary": "Update a Card Holder",
        "description": "Update a Card Holder",
        "operationId": "updateACardHolder",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "person": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "example": "Johnson"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Update a Card Holder": {
                  "value": {
                    "person": {
                      "first_name": "Johnson"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a Card Holder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/card_holder"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/card_holder_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "card_holder_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/card": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "List all Cards",
        "description": "List all Cards",
        "operationId": "listAllCards",
        "parameters": [
          {
            "name": "sub_account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{sub_account_id}}"
            }
          },
          {
            "name": "card_holder_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{card_holder_id}}"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List all Cards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_card"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/list_card_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Cards"
        ],
        "summary": "Create a Card",
        "description": "Create a Card",
        "operationId": "createACard",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cardholder_id": {
                    "type": "string",
                    "example": "cah_a120a61f60dfd40fdb07b2e8bcd1f6f0"
                  },
                  "label": {
                    "type": "string",
                    "example": "Travel"
                  },
                  "product": {
                    "type": "string",
                    "example": "business_spend",
                    "enum": [
                      "business_spend",
                      "consumer_debit",
                      "business_debit",
                      "consumer_gpr",
                      "consumer_gpnr",
                      "consumer_payroll",
                      "consumer_hsa",
                      "consumer_fsa",
                      "consumer_govt_benefits"
                    ]
                  },
                  "theme": {
                    "type": "string",
                    "example": "metallic"
                  },
                  "type": {
                    "type": "string",
                    "example": "physical",
                    "enum": [
                      "physical",
                      "virtual"
                    ]
                  },
                  "card_fullfilment": {
                    "type": "object",
                    "properties": {
                      "embossing": {
                        "type": "object",
                        "properties": {
                          "card_holder_name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "business_name": {
                            "type": "string",
                            "example": "Ace Inc"
                          }
                        }
                      },
                      "shipping_address": {
                        "type": "object",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "example": "123 Main St"
                          },
                          "line2": {
                            "type": "string",
                            "example": ""
                          },
                          "city": {
                            "type": "string",
                            "example": "New York"
                          },
                          "state": {
                            "type": "string",
                            "example": "NY"
                          },
                          "country": {
                            "type": "string",
                            "example": "US"
                          },
                          "postal_code": {
                            "type": "string",
                            "example": "10001"
                          }
                        }
                      }
                    }
                  },
                  "controls": {
                    "type": "object",
                    "properties": {
                      "allowed": {
                        "type": "object",
                        "properties": {
                          "merchants": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "countries": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "blocked": {
                        "type": "object",
                        "properties": {
                          "merchants": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "countries": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "limit": {
                        "type": "object",
                        "properties": {
                          "period": {
                            "type": "string",
                            "example": "daily",
                            "enum": [
                              "daily",
                              "per_transaction",
                              "weekly",
                              "monthly",
                              "yearly",
                              "all_time"
                            ]
                          },
                          "max_spend_amount": {
                            "type": "string",
                            "example": "500.00"
                          }
                        }
                      },
                      "atm_enabled": {
                        "type": "string",
                        "example": "true"
                      }
                    }
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "XV-H27LGD-FX"
                  },
                  "metadata": {
                    "type": "object",
                    "$ref": "#/components/schemas/metadata"
                  }
                }
              },
              "examples": {
                "Create a Card": {
                  "value": {
                    "card_holder_id": "",
                    "label": "Travel",
                    "product": "business_spend",
                    "theme": "metallic",
                    "type": "physical",
                    "card_fullfilment": {
                      "embossing": {
                        "cardholder_name": "John Doe",
                        "business_name": "Ace Inc"
                      },
                      "shipping_address": {
                        "line1": "123 Main St",
                        "line2": "",
                        "city": "New York",
                        "state": "NY",
                        "country": "US",
                        "postal_code": "10001"
                      }
                    },
                    "controls": {
                      "limit": {
                        "period": "daily",
                        "max_spend_amount": "500.00"
                      },
                      "atm_enabled": true
                    },
                    "external_reference_id": "FSY52RAZ-4X",
                    "metadata": {
                      "description": "Sales Team Card"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a Card",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/card"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/card_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/card/{card_id}": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Retrieve a Card",
        "description": "Retrieve a Card",
        "operationId": "retrieveACard",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Card",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/card"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/card_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "patch": {
        "tags": [
          "Cards"
        ],
        "summary": "Update a Card",
        "description": "Update a Card",
        "operationId": "updateACard",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "example": "Travel Expense Card"
                  }
                }
              },
              "examples": {
                "Update a Card": {
                  "value": {
                    "label": "Travel Expense Card"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a Card",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/card"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/card_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "card_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/transaction": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List all Transactions",
        "description": "List all Transactions",
        "operationId": "listAllTransactions",
        "parameters": [
          {
            "name": "sub_account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{sub_account_id}}"
            }
          },
          {
            "name": "master_account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{master_account_id}}"
            }
          },
          {
            "name": "sub_account_holder_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{sub_account_holder_id}}"
            }
          },
          {
            "name": "master_account_holder_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{master_account_holder_id}}"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List all Transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_transaction"
                },
                "examples": {
                  "list_transaction_example": {
                    "$ref": "#/components/examples/list_transaction_example"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Sub Ledger a Transaction",
        "description": "Sub Ledger a Transaction",
        "operationId": "subLedgerATransaction",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "scheme": {
                "type": "object",
                "properties": {
                  "master_account_id": {
                    "type": "string",
                    "example": "mas_743fa071316bc6beaf5dddfd05f49c30"
                  },
                  "master_account_transaction_id": {
                    "type": "string",
                    "example": "txn_817d2a074042bb4ec54e08fd82b1e0a8"
                  },
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70"
                  },
                  "amount": {
                    "type": "string",
                    "example": "1500.00"
                  }
                }
              },
              "examples": {
                "Sub Ledger a Transaction": {
                  "value": {
                    "master_account_id": "mas_743fa071316bc6beaf5dddfd05f49c30",
                    "master_account_transaction_id": "txn_817d2a074042bb4ec54e08fd82b1e0a8",
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "amount": "1500.00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sub Ledger a Transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/transaction"
                },
                "examples": {
                  "sub_ledger_transaction_example": {
                    "$ref": "#/components/examples/sub_ledger_transaction_example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ach/push": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Originate an ACH Push",
        "description": "Originate an ACH Push",
        "operationId": "originateAnAchPush",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "scheme": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70"
                  },
                  "counterparty_id": {
                    "type": "string",
                    "example": "ctp_8e5541c8a9e50c3af3b0daacf9175130"
                  },
                  "amount": {
                    "type": "string",
                    "example": "4570.00"
                  },
                  "description": {
                    "type": "string",
                    "example": "May Salary"
                  },
                  "same_day": {
                    "type": "string",
                    "example": "true"
                  },
                  "effective_date": {
                    "type": "string",
                    "example": "2024-04-05"
                  },
                  "company_discretionary_data": {
                    "type": "string",
                    "example": "DIRECT DEPOSIT"
                  },
                  "company_entry_description": {
                    "type": "string",
                    "example": "PAYROLL"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "123-9088-2"
                  }
                }
              },
              "examples": {
                "Originate an ACH Push": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "counterparty_id": "ctp_8e5541c8a9e50c3af3b0daacf9175130",
                    "amount": "4570.00",
                    "description": "May Salary",
                    "same_day": "true",
                    "effective_date": "2024-04-05",
                    "company_discretionary_data": "DIRECT DEPOSIT",
                    "company_entry_description": "PAYROLL",
                    "external_reference_id": "123-9088-2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Originate an ACH Push",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/transaction"
                },
                "examples": {
                  "ach_push_transaction_example": {
                    "$ref": "#/components/examples/ach_push_transaction_example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ach/pull": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Originate an ACH Pull",
        "description": "Originate an ACH Pull",
        "operationId": "originateAnAchPull",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "scheme": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70"
                  },
                  "counterparty_id": {
                    "type": "string",
                    "example": "ctp_8e5541c8a9e50c3af3b0daacf9175130"
                  },
                  "amount": {
                    "type": "string",
                    "example": "500.00"
                  },
                  "description": {
                    "type": "string",
                    "example": "May Rent"
                  },
                  "same_day": {
                    "type": "string",
                    "example": "true"
                  },
                  "effective_date": {
                    "type": "string",
                    "example": "2024-04-05"
                  },
                  "company_entry_description": {
                    "type": "string",
                    "example": "Payment"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "123-9088-2"
                  }
                }
              },
              "examples": {
                "Originate an ACH Pull": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "counterparty_id": "ctp_8e5541c8a9e50c3af3b0daacf9175130",
                    "amount": "500.00",
                    "description": "May Rent",
                    "same_day": "true",
                    "effective_date": "2024-04-05",
                    "company_entry_description": "Payment",
                    "external_reference_id": "123-9088-2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Originate an ACH Pull",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/transaction"
                },
                "examples": {
                  "ach_pull_transaction_example": {
                    "$ref": "#/components/examples/ach_pull_transaction_example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/domestic_wire/push": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Originate a Domestic Wire",
        "description": "Originate a Domestic Wire",
        "operationId": "originateADomesticWire",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "scheme": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70"
                  },
                  "counterparty_id": {
                    "type": "string",
                    "example": "ctp_8e5541c8a9e50c3af3b0daacf9175130"
                  },
                  "amount": {
                    "type": "string",
                    "example": "2500.00"
                  },
                  "description": {
                    "type": "string",
                    "example": "Marketing Expenses for May"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "123-9088-2"
                  }
                }
              },
              "examples": {
                "Originate a Domestic Wire": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "counterparty_id": "ctp_8e5541c8a9e50c3af3b0daacf9175130",
                    "amount": "2500.00",
                    "description": "Marketing Expenses for May",
                    "external_reference_id": "123-9088-2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Originate a Domestic Wire",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/transaction"
                },
                "examples": {
                  "domestic_wire_transaction_example": {
                    "$ref": "#/components/examples/domestic_wire_transaction_example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/international_wire/push": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Originate an International Wire",
        "description": "Originate an International Wire",
        "operationId": "originateAnInternationalWire",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "scheme": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70"
                  },
                  "counterparty_id": {
                    "type": "string",
                    "example": "ctp_8e5541c8a9e50c3af3b0daacf9175130"
                  },
                  "amount": {
                    "type": "string",
                    "example": "12000.00"
                  },
                  "description": {
                    "type": "string",
                    "example": "Offshore dev team payment"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "123-9088-2"
                  }
                }
              },
              "examples": {
                "Originate an International Wire": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "counterparty_id": "ctp_8e5541c8a9e50c3af3b0daacf9175130",
                    "amount": "12000.00",
                    "description": "Offshore dev team payment",
                    "external_reference_id": "123-9088-2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Originate an International Wire",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/transaction"
                },
                "examples": {
                  "international_wire_transaction_example": {
                    "$ref": "#/components/examples/international_wire_transaction_example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/rtp/push": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Originate an RTP Push",
        "description": "Originate an RTP Push",
        "operationId": "originateAnRtpPush",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "scheme": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70"
                  },
                  "counterparty_id": {
                    "type": "string",
                    "example": "ctp_8e5541c8a9e50c3af3b0daacf9175130"
                  },
                  "amount": {
                    "type": "string",
                    "example": "500.00"
                  },
                  "description": {
                    "type": "string",
                    "example": "June office rent"
                  },
                  "reference_number": {
                    "type": "string",
                    "example": "KH1-ZI1L-PTY"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "123-9088-2"
                  }
                }
              },
              "examples": {
                "Originate an RTP Push": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "counterparty_id": "ctp_8e5541c8a9e50c3af3b0daacf9175130",
                    "amount": "500.00",
                    "description": "June office rent",
                    "reference_number": "KH1-ZI1L-PTY",
                    "external_reference_id": "123-9088-2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Originate an RTP Push",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/transaction"
                },
                "examples": {
                  "rtp_transaction_example": {
                    "$ref": "#/components/examples/rtp_transaction_example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/fednow/push": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Originate a FedNow Push",
        "description": "Originate a FedNow Push",
        "operationId": "originateAFednowPush",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "scheme": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70"
                  },
                  "counterparty_id": {
                    "type": "string",
                    "example": "ctp_8e5541c8a9e50c3af3b0daacf9175130"
                  },
                  "amount": {
                    "type": "string",
                    "example": "500.00"
                  },
                  "description": {
                    "type": "string",
                    "example": "June office rent"
                  },
                  "reference_number": {
                    "type": "string",
                    "example": "FR6L-81G634"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "123-9088-2"
                  }
                }
              },
              "examples": {
                "Originate a FedNow Push": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "counterparty_id": "ctp_8e5541c8a9e50c3af3b0daacf9175130",
                    "amount": "500.00",
                    "description": "June office rent",
                    "reference_number": "FR6L-81G634",
                    "external_reference_id": "123-9088-2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Originate a FedNow Push",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/transaction"
                },
                "examples": {
                  "fednow_transaction_example": {
                    "$ref": "#/components/examples/fednow_transaction_example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/debitcard/push": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Originate a Debit Card Push",
        "description": "Originate a Debit Card Push",
        "operationId": "originateADebitCardPush",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "scheme": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70"
                  },
                  "counterparty_id": {
                    "type": "string",
                    "example": "ctp_8e5541c8a9e50c3af3b0daacf9175130"
                  },
                  "amount": {
                    "type": "string",
                    "example": "23.50"
                  },
                  "description": {
                    "type": "string",
                    "example": "Lunch expense"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "123-9088-2"
                  }
                }
              },
              "examples": {
                "Originate a Debit Card Push": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "counterparty_id": "ctp_8e5541c8a9e50c3af3b0daacf9175130",
                    "amount": "23.50",
                    "description": "Lunch expense",
                    "external_reference_id": "123-9088-2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Originate a Debit Card Push",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/transaction"
                },
                "examples": {
                  "debit_card_push_transaction_example": {
                    "$ref": "#/components/examples/debit_card_push_transaction_example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/debitcard/pull": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Originate a Debit Card Pull",
        "description": "Originate a Debit Card Pull",
        "operationId": "originateADebitCardPull",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "scheme": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70"
                  },
                  "counterparty_id": {
                    "type": "string",
                    "example": "ctp_8e5541c8a9e50c3af3b0daacf9175130"
                  },
                  "amount": {
                    "type": "string",
                    "example": "150.00"
                  },
                  "description": {
                    "type": "string",
                    "example": "Account funding"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "123-9088-2"
                  }
                }
              },
              "examples": {
                "Originate a Debit Card Pull": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "counterparty_id": "ctp_8e5541c8a9e50c3af3b0daacf9175130",
                    "amount": "150.00",
                    "description": "Account funding",
                    "external_reference_id": "123-9088-2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Originate a Debit Card Pull",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/transaction"
                },
                "examples": {
                  "debit_card_pull_transaction_example": {
                    "$ref": "#/components/examples/debit_card_pull_transaction_example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/check/send": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Originate a Check Send",
        "description": "Originate a Check Send",
        "operationId": "originateACheckSend",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "scheme": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70"
                  },
                  "counterparty_id": {
                    "type": "string",
                    "example": "ctp_8e5541c8a9e50c3af3b0daacf9175130"
                  },
                  "amount": {
                    "type": "string",
                    "example": "1500.00"
                  },
                  "description": {
                    "type": "string",
                    "example": "Plumbing Supplier"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "123-9088-2"
                  }
                }
              },
              "examples": {
                "Originate a Check Send": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "counterparty_id": "ctp_8e5541c8a9e50c3af3b0daacf9175130",
                    "amount": "1500.00",
                    "description": "Plumbing Supplier",
                    "external_reference_id": "123-9088-2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Originate a Check Send",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/transaction"
                },
                "examples": {
                  "check_send_transaction_example": {
                    "$ref": "#/components/examples/check_send_transaction_example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/check/deposit": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Originate a Check Deposit",
        "description": "Originate a Check Deposit",
        "operationId": "originateACheckDeposit",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "scheme": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70"
                  },
                  "counterparty_id": {
                    "type": "string",
                    "example": "ctp_8e5541c8a9e50c3af3b0daacf9175130"
                  },
                  "amount": {
                    "type": "string",
                    "example": "500.00"
                  },
                  "description": {
                    "type": "string",
                    "example": "May invoice"
                  },
                  "image": {
                    "type": "object",
                    "properties": {
                      "front": {
                        "type": "string",
                        "example": "TG9yZW0gSXBzdW0gaXMgc2ltcGx5IGR1bW15IHRleHQgb2YgdGhlIHByaW50aW5nIGFuZCB0eXBlc2V0dGluZyBpbmR1c3RyeS4gTG9yZW0gSXBzdW0gaGFzIGJlZW4gdGhlIGluZHVzdHJ5J3Mgc3RhbmRhcmQgZHVtbXkgdGV4dCBldmVyIHNpbmNlIHRoZSAxNTAwcywgd2hlbiBhbiB1bmtub3duIHByaW50ZXIgdG9vayBhIGdhbGxleSBvZiB0eXBlIGFuZCBzY3JhbWJsZWQgaXQgdG8gbWFrZSBhIHR5cGUgc3BlY2ltZW4gYm9vay4gSXQgaGFzIHN1cnZpdmVkIG5vdCBvbmx5IGZpdmUgY2VudHVyaWVzLCBidXQgYWxzbyB0aGUgbGVhcCBpbnRvIGVsZWN0cm9uaWMgdHlwZXNldHRpbmcsIHJlbWFpbmluZyBlc3NlbnRpYWxseSB1bmNoYW5nZWQuIEl0IHdhcyBwb3B1bGFyaXNlZCBpbiB0aGUgMTk2MHMgd2l0aCB0aGUgcmVsZWFzZSBvZiBMZXRyYXNldCBzaGVldHMgY29udGFpbmluZyBMb3JlbSBJcHN1bSBwYXNzYWdlcywgYW5kIG1vcmUgcmVjZW50bHkgd2l0aCBkZXNrdG9wIHB1Ymxpc2hpbmcgc29mdHdhcmUgbGlrZSBBbGR1cyBQYWdlTWFrZXIgaW5jbHVkaW5nIHZlcnNpb25zIG9mIExvcmVtIElwc3VtLg"
                      },
                      "back": {
                        "type": "string",
                        "example": "TG9yZW0gSXBzdW0gaXMgc2ltcGx5IGR1bW15IHRleHQgb2YgdGhlIHByaW50aW5nIGFuZCB0eXBlc2V0dGluZyBpbmR1c3RyeS4gTG9yZW0gSXBzdW0gaGFzIGJlZW4gdGhlIGluZHVzdHJ5J3Mgc3RhbmRhcmQgZHVtbXkgdGV4dCBldmVyIHNpbmNlIHRoZSAxNTAwcywgd2hlbiBhbiB1bmtub3duIHByaW50ZXIgdG9vayBhIGdhbGxleSBvZiB0eXBlIGFuZCBzY3JhbWJsZWQgaXQgdG8gbWFrZSBhIHR5cGUgc3BlY2ltZW4gYm9vay4gSXQgaGFzIHN1cnZpdmVkIG5vdCBvbmx5IGZpdmUgY2VudHVyaWVzLCBidXQgYWxzbyB0aGUgbGVhcCBpbnRvIGVsZWN0cm9uaWMgdHlwZXNldHRpbmcsIHJlbWFpbmluZyBlc3NlbnRpYWxseSB1bmNoYW5nZWQuIEl0IHdhcyBwb3B1bGFyaXNlZCBpbiB0aGUgMTk2MHMgd2l0aCB0aGUgcmVsZWFzZSBvZiBMZXRyYXNldCBzaGVldHMgY29udGFpbmluZyBMb3JlbSBJcHN1bSBwYXNzYWdlcywgYW5kIG1vcmUgcmVjZW50bHkgd2l0aCBkZXNrdG9wIHB1Ymxpc2hpbmcgc29mdHdhcmUgbGlrZSBBbGR1cyBQYWdlTWFrZXIgaW5jbHVkaW5nIHZlcnNpb25zIG9mIExvcmVtIElwc3VtLg"
                      }
                    }
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "123-9088-2"
                  }
                }
              },
              "examples": {
                "Originate a Check Deposit": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "counterparty_id": "ctp_8e5541c8a9e50c3af3b0daacf9175130",
                    "amount": "500.00",
                    "description": "May invoice",
                    "image": {
                      "front": "TG9yZW0gSXBzdW0gaXMgc2ltcGx5IGR1bW15IHRleHQgb2YgdGhlIHByaW50aW5nIGFuZCB0eXBlc2V0dGluZyBpbmR1c3RyeS4gTG9yZW0gSXBzdW0gaGFzIGJlZW4gdGhlIGluZHVzdHJ5J3Mgc3RhbmRhcmQgZHVtbXkgdGV4dCBldmVyIHNpbmNlIHRoZSAxNTAwcywgd2hlbiBhbiB1bmtub3duIHByaW50ZXIgdG9vayBhIGdhbGxleSBvZiB0eXBlIGFuZCBzY3JhbWJsZWQgaXQgdG8gbWFrZSBhIHR5cGUgc3BlY2ltZW4gYm9vay4gSXQgaGFzIHN1cnZpdmVkIG5vdCBvbmx5IGZpdmUgY2VudHVyaWVzLCBidXQgYWxzbyB0aGUgbGVhcCBpbnRvIGVsZWN0cm9uaWMgdHlwZXNldHRpbmcsIHJlbWFpbmluZyBlc3NlbnRpYWxseSB1bmNoYW5nZWQuIEl0IHdhcyBwb3B1bGFyaXNlZCBpbiB0aGUgMTk2MHMgd2l0aCB0aGUgcmVsZWFzZSBvZiBMZXRyYXNldCBzaGVldHMgY29udGFpbmluZyBMb3JlbSBJcHN1bSBwYXNzYWdlcywgYW5kIG1vcmUgcmVjZW50bHkgd2l0aCBkZXNrdG9wIHB1Ymxpc2hpbmcgc29mdHdhcmUgbGlrZSBBbGR1cyBQYWdlTWFrZXIgaW5jbHVkaW5nIHZlcnNpb25zIG9mIExvcmVtIElwc3VtLg==",
                      "back": "TG9yZW0gSXBzdW0gaXMgc2ltcGx5IGR1bW15IHRleHQgb2YgdGhlIHByaW50aW5nIGFuZCB0eXBlc2V0dGluZyBpbmR1c3RyeS4gTG9yZW0gSXBzdW0gaGFzIGJlZW4gdGhlIGluZHVzdHJ5J3Mgc3RhbmRhcmQgZHVtbXkgdGV4dCBldmVyIHNpbmNlIHRoZSAxNTAwcywgd2hlbiBhbiB1bmtub3duIHByaW50ZXIgdG9vayBhIGdhbGxleSBvZiB0eXBlIGFuZCBzY3JhbWJsZWQgaXQgdG8gbWFrZSBhIHR5cGUgc3BlY2ltZW4gYm9vay4gSXQgaGFzIHN1cnZpdmVkIG5vdCBvbmx5IGZpdmUgY2VudHVyaWVzLCBidXQgYWxzbyB0aGUgbGVhcCBpbnRvIGVsZWN0cm9uaWMgdHlwZXNldHRpbmcsIHJlbWFpbmluZyBlc3NlbnRpYWxseSB1bmNoYW5nZWQuIEl0IHdhcyBwb3B1bGFyaXNlZCBpbiB0aGUgMTk2MHMgd2l0aCB0aGUgcmVsZWFzZSBvZiBMZXRyYXNldCBzaGVldHMgY29udGFpbmluZyBMb3JlbSBJcHN1bSBwYXNzYWdlcywgYW5kIG1vcmUgcmVjZW50bHkgd2l0aCBkZXNrdG9wIHB1Ymxpc2hpbmcgc29mdHdhcmUgbGlrZSBBbGR1cyBQYWdlTWFrZXIgaW5jbHVkaW5nIHZlcnNpb25zIG9mIExvcmVtIElwc3VtLg=="
                    },
                    "external_reference_id": "123-9088-2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Originate a Check Deposit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/transaction"
                },
                "examples": {
                  "check_deposit_transaction_example": {
                    "$ref": "#/components/examples/check_deposit_transaction_example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/transaction/{transaction_id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Retrieve a Transaction",
        "description": "Retrieve a Transaction",
        "operationId": "retrieveATransaction",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/transaction"
                },
                "examples": {
                  "retrieve_transaction_example": {
                    "$ref": "#/components/examples/retrieve_transaction_example"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Transactions"
        ],
        "summary": "Update a Transaction",
        "description": "Update a Transaction",
        "operationId": "updateATransaction",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "type": "object",
                    "properties": {
                      "invoice_number": {
                        "type": "string",
                        "example": "INV-AC989878"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Update a Transaction": {
                  "value": {
                    "metadata": {
                      "invoice_number": "INV-AC989878"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a Transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/transaction"
                },
                "examples": {
                  "update_transaction_example": {
                    "$ref": "#/components/examples/update_transaction_example"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/attachment": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "summary": "List all Attachments",
        "description": "List all Attachments",
        "operationId": "listAllAttachments",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve an Attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_attachment"
                },
                "examples": {
                  "list_attachment_example": {
                    "$ref": "#/components/examples/list_attachment_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "Create an Attachment",
        "description": "Create an Attachment",
        "operationId": "createAnAttachment",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reference_id": {
                    "type": "string",
                    "example": "ctp_8e5541c8a9e50c3af3b0daacf9175130"
                  },
                  "label": {
                    "type": "string",
                    "example": "formation"
                  }
                }
              },
              "examples": {
                "Create an Attachment": {
                  "value": {
                    "reference_id": "ctp_8e5541c8a9e50c3af3b0daacf9175130",
                    "label": "formation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create an Attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/attachment"
                },
                "examples": {
                  "list_sub_account_holder_example": {
                    "$ref": "#/components/examples/attachment_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/attachment/{attachment_id}": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "summary": "Retrieve an Attachment",
        "description": "Retrieve an Attachment",
        "operationId": "retrieveAnAttachment",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve an Attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/attachment"
                },
                "examples": {
                  "list_sub_account_holder_example": {
                    "$ref": "#/components/examples/attachment_example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "Attachments"
        ],
        "summary": "Delete an Attachment",
        "description": "Delete an Attachment",
        "operationId": "deleteAnAttachment",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Delete an Attachment",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "attachment_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/simulate/incoming/ach/push": {
      "post": {
        "tags": [
          "Simulation",
          "ACH"
        ],
        "summary": "Simulate an Incoming ACH Push",
        "description": "Simulate an Incoming ACH Push",
        "operationId": "simulateAnIncomingAchPush",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Simulate an Incoming ACH Push": {
                  "value": {
                    "sub_account_id": "",
                    "amount": "500.00",
                    "description": "May Rent",
                    "counterparty_name": "John Doe",
                    "counterparty_routing_number": "121042882"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Simulate an Incoming ACH Push",
            "content": {
              "text/plain": {
                "examples": {
                  "Simulate an Incoming ACH Push": {
                    "value": {
                      "id": "",
                      "client_id": "",
                      "master_account_holder_id": "",
                      "master_account_id": "",
                      "sub_account_holder_id": "",
                      "sub_account_id": "",
                      "status": "received",
                      "amount": "500.00",
                      "currency": "usd",
                      "direction": "credit",
                      "method": "ach",
                      "type": "push",
                      "message": "incoming",
                      "description": "May Rent",
                      "available_balance": "1250.50",
                      "pending_credits": "500.00",
                      "pending_debits": "0.00",
                      "counterparty": {
                        "id": "",
                        "name": "John Doe",
                        "verification_status": "verified",
                        "account_number": "",
                        "routing_number": "121042882",
                        "account_type": "",
                        "bank_name": "Wells Fargo",
                        "beneficiary_bank": null,
                        "correspondent_bank": null,
                        "shipping_address": null
                      },
                      "ach": {
                        "effective_date": "2024-04-04",
                        "company_discretionary_data": "",
                        "company_entry_description": "Payment",
                        "trace_number": "",
                        "return_code": "",
                        "rta_id": ""
                      },
                      "parent_transaction_id": "",
                      "external_reference_id": "",
                      "purpose": "",
                      "ofac": {
                        "status": "pass",
                        "last_updated_at": "2024-04-01T21:00:00Z"
                      },
                      "attachments": null,
                      "metadata": null,
                      "reconciliation": {
                        "status": "reconciled",
                        "master_account": [
                          {
                            "id": "",
                            "transaction_id": "",
                            "amount": "500.00"
                          }
                        ],
                        "sub_account": [
                          {
                            "id": "",
                            "transaction_id": "",
                            "amount": "500.00"
                          }
                        ]
                      },
                      "timestamps": {
                        "created_at": "2024-04-04T11:06:00Z",
                        "settled_at": "2024-04-04T11:06:00Z",
                        "modified_at": "2024-04-04T11:06:00Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/simulate/incoming/ach/pull": {
      "post": {
        "tags": [
          "Simulation",
          "ACH"
        ],
        "summary": "Simulate an Incoming ACH Pull",
        "description": "Simulate an Incoming ACH Pull",
        "operationId": "simulateAnIncomingAchPull",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Simulate an Incoming ACH Pull": {
                  "value": {
                    "sub_account_id": "",
                    "amount": "500.00",
                    "description": "May Rent",
                    "counterparty_name": "John Doe",
                    "counterparty_routing_number": "121042882"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Simulate an Incoming ACH Pull",
            "content": {
              "text/plain": {
                "examples": {
                  "Simulate an Incoming ACH Pull": {
                    "value": {
                      "id": "",
                      "client_id": "",
                      "master_account_holder_id": "",
                      "master_account_id": "",
                      "sub_account_holder_id": "",
                      "sub_account_id": "",
                      "status": "received",
                      "amount": "500.00",
                      "currency": "usd",
                      "direction": "debit",
                      "method": "ach",
                      "type": "pull",
                      "message": "incoming",
                      "description": "May Rent",
                      "available_balance": "1250.50",
                      "pending_credits": "0.00",
                      "pending_debits": "500.00",
                      "counterparty": {
                        "id": "",
                        "name": "John Doe",
                        "verification_status": "verified",
                        "account_number": "",
                        "routing_number": "121042882",
[...]
