{
  "openapi": "3.0.3",
  "info": {
    "title": "Solid v2",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.sandbox.solidfi.com"
    },
    {
      "url": "https://api.prod.solidfi.com"
    }
  ],
  "paths": {
    "/v2/accounts/master_account/{master_account_id}": {
      "get": {
        "tags": [
          "Master Accounts"
        ],
        "summary": "Retrieve a Master Account",
        "description": "Retrieve a Master Account",
        "operationId": "retrieveAMasterAccount",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Master Account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/master_account"
                },
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/master_account_example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/master_account_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "master_account_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/accounts/master_account": {
      "get": {
        "tags": [
          "Master Accounts"
        ],
        "summary": "List all Master Accounts",
        "description": "List all Master Accounts",
        "operationId": "listAllMasterAccounts",
        "parameters": [
          {
            "name": "master_account_holder_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "mah_201e02c581a098a740456c5c19fcfcd6",
              "description": "unique id of the master account holder"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "open",
              "description": "status of master account",
              "enum": [
                "open",
                "closed",
                "credit_blocked",
                "debit_blocked",
                "blocked",
                "locked"
              ]
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 10,
              "description": "number of records to return"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky",
              "description": "A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 50 records, ending with `Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky`, your subsequent call can include `starting_after=Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky` in order to fetch the next page of the list."
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky",
              "description": "A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 50 records, starting with `Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky`, your subsequent call can include `ending_before= Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky` in order to fetch the previous page of the list."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List all Master Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_master_account"
                },
                "examples": {
                  "list_master_account_example": {
                    "$ref": "#/components/examples/list_master_account_example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "list_master_account_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/accounts/sub_account_holder": {
      "get": {
        "tags": [
          "Sub Account Holders"
        ],
        "summary": "List all Sub Account Holders",
        "description": "List all Sub Account Holders",
        "operationId": "listAllSubAccountHolders",
        "parameters": [
          {
            "name": "master_account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "mas_743fa071316bc6beaf5dddfd05f49c30",
              "description": "unique id of the master account"
            }
          },
          {
            "name": "sub_account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "sub_bda1e562657c41e553104b10aad3fe70",
              "description": "unique id of the sub account"
            }
          },
          {
            "name": "external_reference_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "XVH-27LGDFX",
              "description": "unique id to cross-reference records with external systems"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 10,
              "description": "number of records to return"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky",
              "description": "A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 50 records, ending with `Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky`, your subsequent call can include `starting_after=Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky` in order to fetch the next page of the list."
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky",
              "description": "A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 50 records, starting with `Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky`, your subsequent call can include `ending_before= Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky` in order to fetch the previous page of the list."
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List all Sub Account Holders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_sub_account_holder"
                },
                "examples": {
                  "list_sub_account_holder_example": {
                    "$ref": "#/components/examples/list_sub_account_holder_example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "list_sub_account_holder_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Sub Account Holders"
        ],
        "summary": "Create a Sub Account Holder",
        "description": "Create a Sub Account Holder",
        "operationId": "createASubAccountHolder",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "master_account_id": {
                    "type": "string",
                    "example": "mas_743fa071316bc6beaf5dddfd05f49c30",
                    "description": "unique id of the master account"
                  },
                  "type": {
                    "type": "string",
                    "description": "type of sub account holder",
                    "enum": [
                      "person",
                      "business"
                    ],
                    "example": "person"
                  },
                  "person": {
                    "type": "object",
                    "$ref": "#/components/schemas/person"
                  },
                  "business": {
                    "type": "object",
                    "$ref": "#/components/schemas/business"
                  },
                  "verification": {
                    "type": "object",
                    "$ref": "#/components/schemas/verification"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "TW-9L1L2-UVV",
                    "description": "unique id to cross-reference records with external systems"
                  },
                  "purpose": {
                    "type": "string",
                    "example": "Ace sub-account holder",
                    "description": "purpose of sub account holder"
                  },
                  "metadata": {
                    "type": "object",
                    "$ref": "#/components/schemas/metadata"
                  }
                },
                "required": [
                  "master_account_id",
                  "type"
                ]
              },
              "examples": {
                "Create a Sub Account Holder": {
                  "value": {
                    "master_account_id": "mas_456",
                    "type": "person",
                    "person": {
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "id_type": "ssn",
                      "id_number": "223902234",
                      "date_of_birth": "1974-01-25",
                      "phone": "+19418405843",
                      "email": "jane.doe@gmail.com",
                      "address": {
                        "line1": "123 Main St",
                        "line2": "",
                        "city": "New York",
                        "state": "NY",
                        "country": "US",
                        "postal_code": "10001"
                      }
                    },
                    "verification": {
                      "status": "pass",
                      "method": "persona",
                      "url": "https://withpersona.com/verify?inquiry-id=inq_p1LgZj3wp5xWMk5XUhWAMrgV"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a Sub Account Holder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account_holder"
                },
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_bad_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/master_account_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/accounts/sub_account_holder/{sub_account_holder_id}": {
      "get": {
        "tags": [
          "Sub Account Holders"
        ],
        "summary": "Retrieve a Sub Account Holder",
        "description": "Retrieve a Sub Account Holder",
        "operationId": "retrieveASubAccountHolder",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Sub Account Holder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account_holder"
                },
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/sub_account_holder_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "patch": {
        "tags": [
          "Sub Account Holders"
        ],
        "summary": "Update a Sub Account Holder",
        "description": "Update a Sub Account Holder",
        "operationId": "updateASubAccountHolder",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "person": {
                    "type": "object",
                    "$ref": "#/components/schemas/person"
                  },
                  "business": {
                    "type": "object",
                    "$ref": "#/components/schemas/business"
                  },
                  "verification": {
                    "type": "object",
                    "$ref": "#/components/schemas/verification"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "TW-9L1L2-UVV",
                    "description": "unique id to cross-reference records with external systems"
                  },
                  "purpose": {
                    "type": "string",
                    "example": "Ace sub-account holder",
                    "description": "purpose of sub account holder"
                  },
                  "metadata": {
                    "type": "object",
                    "$ref": "#/components/schemas/metadata"
                  },
                  "status": {
                    "type": "string",
                    "example": "activated",
                    "description": "status of sub account holder",
                    "enum": [
                      "open",
                      "closed",
                      "credit_blocked",
                      "debit_blocked",
                      "blocked",
                      "locked"
                    ]
                  }
                }
              },
              "examples": {
                "Update a Sub Account Holder": {
                  "value": {
                    "person": {
                      "first_name": "Johnson"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a Sub Account Holder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account_holder"
                },
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_update_bad_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/sub_account_holder_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "sub_account_holder_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/accounts/sub_account_holder/{sub_account_holder_id}/kyc": {
      "post": {
        "tags": [
          "Sub Account Holders"
        ],
        "summary": "Submit a KYC",
        "description": "Submit a KYC",
        "operationId": "SubmitAKYC",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Submit a KYC",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account_holder"
                },
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_bad_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/master_account_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "sub_account_holder_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/accounts/sub_account_holder/{sub_account_holder_id}/idv": {
      "post": {
        "tags": [
          "Sub Account Holders"
        ],
        "summary": "Submit an IDV",
        "description": "Submit an IDV",
        "operationId": "SubmitAnIDV",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Submit an IDV",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account_holder"
                },
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_bad_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/master_account_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "sub_account_holder_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/accounts/sub_account_holder/{sub_account_holder_id}/kyb": {
      "post": {
        "tags": [
          "Sub Account Holders"
        ],
        "summary": "Submit a KYB",
        "description": "Submit a KYB",
        "operationId": "SubmitAKYB",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Submit a KYB",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account_holder"
                },
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/sub_account_holder_bad_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_holder_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/master_account_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "sub_account_holder_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/accounts/sub_account": {
      "get": {
        "tags": [
          "Sub Accounts"
        ],
        "summary": "List all Sub Accounts",
        "description": "List all Sub Accounts",
        "operationId": "listAllSubAccounts",
        "parameters": [
          {
            "name": "sub_account_holder_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "sah_5ccfeef0adf0cbe2aa0980d2c9505752",
              "description": "unique id of the sub account holder"
            }
          },
          {
            "name": "master_account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "mas_743fa071316bc6beaf5dddfd05f49c30",
              "description": "unique id of the master account"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "activated",
              "description": "status of the sub account",
              "enum": [
                "pending_activation",
                "activated",
                "suspended",
                "deactivated"
              ]
            }
          },
          {
            "name": "external_reference_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "XVH-27LGDFX",
              "description": "unique id to cross-reference records with external systems"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 10,
              "description": "number of records to return"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky",
              "description": "A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 50 records, ending with `Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky`, your subsequent call can include `starting_after=Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky` in order to fetch the next page of the list."
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky",
              "description": "A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 50 records, starting with `Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky`, your subsequent call can include `ending_before= Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky` in order to fetch the previous page of the list."
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List all Sub Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_sub_account"
                },
                "examples": {
                  "list_sub_account_example": {
                    "$ref": "#/components/examples/list_sub_account_example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "list_sub_account_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Sub Accounts"
        ],
        "summary": "Create a Sub Account",
        "description": "Create a Sub Account",
        "operationId": "createASubAccount",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sub_account_holder_id": {
                    "type": "string",
                    "example": "sah_5ccfeef0adf0cbe2aa0980d2c9505752",
                    "description": "unique id of the sub account"
                  },
                  "label": {
                    "type": "string",
                    "example": "Ace payments",
                    "description": "label of the sub account"
                  },
                  "type": {
                    "type": "string",
                    "example": "cash",
                    "description": "type of the sub account",
                    "enum": [
                      "cash",
                      "prepaid"
                    ]
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "XVH-27LGDFX",
                    "description": "unique id to cross-reference records with external systems"
                  },
                  "purpose": {
                    "type": "string",
                    "example": "Sub account to pay offshore dev team",
                    "description": "purpose of sub account"
                  },
                  "metadata": {
                    "type": "object",
                    "$ref": "#/components/schemas/metadata"
                  }
                }
              },
              "examples": {
                "Create a Sub Account": {
                  "value": {
                    "sub_account_holder_id": "sah_5ccfeef0adf0cbe2aa0980d2c9505752",
                    "label": "Ace payments",
                    "type": "cash"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a Sub Account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account"
                },
                "examples": {
                  "sub_account_example": {
                    "$ref": "#/components/examples/sub_account_example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_example": {
                    "$ref": "#/components/examples/sub_account_bad_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/sub_account_holder_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/accounts/sub_account/{sub_account_id}": {
      "get": {
        "tags": [
          "Sub Accounts"
        ],
        "summary": "Retrieve a Sub Account",
        "description": "Retrieve a Sub Account",
        "operationId": "retrieveASubAccount",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Sub Account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account"
                },
                "examples": {
                  "sub_account_example": {
                    "$ref": "#/components/examples/sub_account_example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/master_account_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "patch": {
        "tags": [
          "Sub Accounts"
        ],
        "summary": "Update a Sub Account",
        "description": "Update a Sub Account",
        "operationId": "updateASubAccount",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "example": "Ace PayOps"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "XVH-27LGDFX",
                    "description": "unique id to cross-reference records with external systems"
                  },
                  "purpose": {
                    "type": "string",
                    "example": "Sub account to pay offshore dev team",
                    "description": "purpose of sub account"
                  },
                  "metadata": {
                    "type": "object",
                    "$ref": "#/components/schemas/metadata"
                  },
                  "status": {
                    "type": "string",
                    "example": "open",
                    "description": "status of sub account",
                    "enum": [
                      "open",
                      "closed",
                      "credit_blocked",
                      "debit_blocked",
                      "blocked"
                    ]
                  }
                }
              },
              "examples": {
                "Update a Sub Account": {
                  "value": {
                    "label": "Ace PayOps"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a Sub Account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/sub_account"
                },
                "examples": {
                  "sub_account_example": {
                    "$ref": "#/components/examples/sub_account_example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_example": {
                    "$ref": "#/components/examples/sub_account_bad_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "sub_account_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/master_account_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "sub_account_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/payments/counterparty": {
      "get": {
        "tags": [
          "Counterparties"
        ],
        "summary": "List all Counterparties",
        "description": "List all Counterparties",
        "operationId": "listAllCounterparties",
        "parameters": [
          {
            "name": "sub_account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "sub_bda1e562657c41e553104b10aad3fe70",
              "description": "unique id of the sub account"
            }
          },
          {
            "name": "external_reference_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "XVH-27LGDFX",
              "description": "unique id to cross-reference records with external systems"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "activated",
              "description": "status of counterparty",
              "enum": [
                "pending_activation",
                "activated",
                "suspended",
                "deactivated"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 10,
              "description": "number of records to return"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky",
              "description": "A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 50 records, ending with `Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky`, your subsequent call can include `starting_after=Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky` in order to fetch the next page of the list."
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky",
              "description": "A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 50 records, starting with `Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky`, your subsequent call can include `ending_before= Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky` in order to fetch the previous page of the list."
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List all Counterparties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_counterparty"
                },
                "examples": {
                  "list_counterparty_example": {
                    "$ref": "#/components/examples/list_counterparty_example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "list_counterparty_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Counterparties"
        ],
        "summary": "Create a Counterparty",
        "description": "Create a Counterparty",
        "operationId": "createACounterparty",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70",
                    "description": "unique id of the sub account under which the counterparty was created"
                  },
                  "label": {
                    "type": "string",
                    "example": "Development Vendor",
                    "description": "label of the counterparty"
                  },
                  "type": {
                    "type": "string",
                    "example": "person",
                    "description": "type of counterparty",
                    "enum": [
                      "person",
                      "business"
                    ]
                  },
                  "person": {
                    "type": "object",
                    "$ref": "#/components/schemas/person"
                  },
                  "business": {
                    "type": "object",
                    "$ref": "#/components/schemas/business"
                  },
                  "intra_account": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_intra_account"
                  },
                  "ach": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_ach"
                  },
                  "domestic_wire": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_domestic_wire"
                  },
                  "international_wire": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_international_wire"
                  },
                  "rtp": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_rtp"
                  },
                  "fednow": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_fednow"
                  },
                  "check": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_check"
                  },
                  "debit_card": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_debit_card"
                  },
                  "purpose": {
                    "type": "string",
                    "example": "Offshore dev center",
                    "description": "purpose of counterparty"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "TW-9L1L2-UVV",
                    "description": "unique id to cross-reference records with external systems"
                  },
                  "metadata": {
                    "type": "object",
                    "$ref": "#/components/schemas/metadata"
                  }
                }
              },
              "examples": {
                "Create a Counterparty": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "label": "Development Vendor",
                    "type": "person",
                    "person": {
                      "first_name": "John",
                      "last_name": "Doe",
                      "id_type": "ssn",
                      "id_number": "223902234",
                      "date_of_birth": "1974-01-25",
                      "phone": "+19418405843",
                      "email": "john.doe@gmail.com",
                      "address": {
                        "line1": "123 Main St",
                        "line2": "",
                        "city": "New York",
                        "state": "NY",
                        "country": "US",
                        "postal_code": "10001"
                      }
                    },
                    "intra_account": {
                      "sub_account_number": "95483674098723",
                      "sub_account_id": "sub_cda1e562657c41e553104b10aad3fe70"
                    },
                    "ach": {
                      "account_number": "98324502",
                      "routing_number": "121042882",
                      "account_type": "business_checking",
                      "bank_name": "Wells Fargo",
                      "verification_status": "verified"
                    },
                    "rtp": {
                      "account_number": "98324502",
                      "routing_number": "121042882",
                      "account_type": "business_checking",
                      "bank_name": "Wells Fargo",
                      "verification_status": "verified"
                    },
                    "domestic_wire": {
                      "account_number": "98324502",
                      "routing_number": "121042882",
                      "account_type": "business_checking",
                      "bank_name": "Wells Fargo"
                    },
                    "international_wire": {
                      "account_number": "920020006167511",
                      "beneficiary_bank": {
                        "identifier_code": "ICICINBBNRI",
                        "name": "ICICI Bank",
                        "address": {
                          "line1": "256 Main St",
                          "line2": "",
                          "city": "Bengaluru",
                          "state": "KA",
                          "country": "IN",
                          "postal_code": "900009"
                        }
                      },
                      "correspondent_bank": {
                        "identifier_code": "SCBLUS33XXX",
                        "name": "STANDARD CHARTERED BANK",
                        "address": {
                          "line1": "1095 12th Ave",
                          "line2": "",
                          "city": "New York",
                          "state": "NY",
                          "country": "US",
                          "postal_code": "10001"
                        }
                      }
                    },
                    "purpose": "Offshore dev center",
                    "external_reference_id": "TW-9L1L2-UVV",
                    "metadata": {
                      "vendor_id": "VID-0987ACR"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a Counterparty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/counterparty"
                },
                "examples": {
                  "counterparty_example": {
                    "$ref": "#/components/examples/counterparty_example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "counterparty_example": {
                    "$ref": "#/components/examples/counterparty_bad_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "counterparty_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "counterparty_example": {
                    "$ref": "#/components/examples/master_account_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/payments/counterparty/bank": {
      "get": {
        "tags": [
          "Counterparties"
        ],
        "summary": "Retrieve Bank Info",
        "description": "Retrieve Bank Info",
        "operationId": "retrieveBankInfo",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "aba",
              "description": "routing number type - aba or swift",
              "enum": [
                "aba",
                "swift"
              ]
            }
          },
          {
            "name": "routing_number",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "021214189",
              "description": "bank routing number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve Bank Info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/bank_info"
                },
                "examples": {
                  "bank_info_example": {
                    "$ref": "#/components/examples/bank_info_example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "bank_info_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/payments/counterparty/{counterparty_id}": {
      "get": {
        "tags": [
          "Counterparties"
        ],
        "summary": "Retrieve a Counterparty",
        "description": "Retrieve a Counterparty",
        "operationId": "retrieveACounterparty",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Counterparty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/counterparty"
                },
                "examples": {
                  "counterparty_example": {
                    "$ref": "#/components/examples/counterparty_example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "counterparty_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/counterparty_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "patch": {
        "tags": [
          "Counterparties"
        ],
        "summary": "Update a Counterparty",
        "description": "Update a Counterparty",
        "operationId": "updateACounterparty",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "example": "Development Vendor",
                    "description": "label of the counterparty"
                  },
                  "type": {
                    "type": "string",
                    "example": "person",
                    "description": "type of counterparty",
                    "enum": [
                      "person",
                      "business"
                    ]
                  },
                  "person": {
                    "type": "object",
                    "$ref": "#/components/schemas/person"
                  },
                  "business": {
                    "type": "object",
                    "$ref": "#/components/schemas/business"
                  },
                  "intra_account": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_intra_account"
                  },
                  "ach": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_ach"
                  },
                  "domestic_wire": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_domestic_wire"
                  },
                  "international_wire": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_international_wire"
                  },
                  "rtp": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_rtp"
                  },
                  "fednow": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_fednow"
                  },
                  "check": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_check"
                  },
                  "debit_card": {
                    "type": "object",
                    "$ref": "#/components/schemas/counterparty_debit_card"
                  },
                  "purpose": {
                    "type": "string",
                    "example": "Offshore dev center",
                    "description": "purpose of counterparty"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "TW-9L1L2-UVV",
                    "description": "unique id to cross-reference records with external systems"
                  },
                  "metadata": {
                    "type": "object",
                    "$ref": "#/components/schemas/metadata"
                  },
                  "status": {
                    "type": "string",
                    "example": "activated",
                    "description": "status of counterparty",
                    "enum": [
                      "pending_activation",
                      "activated",
                      "suspended",
                      "deactivated"
                    ]
                  }
                }
              },
              "examples": {
                "Update a Counterparty": {
                  "value": {
                    "label": "Utilities"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a Counterparty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/counterparty"
                },
                "examples": {
                  "counterparty_example": {
                    "$ref": "#/components/examples/counterparty_example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "counterparty_example": {
                    "$ref": "#/components/examples/counterparty_bad_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "counterparty_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/counterparty_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "counterparty_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/issuing/card_holder": {
      "get": {
        "tags": [
          "Card Holders"
        ],
        "summary": "List all Card Holders",
        "description": "List all Card Holders",
        "operationId": "listAllCardHolders",
        "parameters": [
          {
            "name": "master_account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "mas_743fa071316bc6beaf5dddfd05f49c30",
              "description": "unique id of the master account"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 10,
              "description": "number of records to return"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky",
              "description": "A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 50 records, ending with `Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky`, your subsequent call can include `starting_after=Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky` in order to fetch the next page of the list."
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky",
              "description": "A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 50 records, starting with `Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky`, your subsequent call can include `ending_before= Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky` in order to fetch the previous page of the list."
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List all Card Holders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_card_holder"
                },
                "examples": {
                  "list_card_holder_example": {
                    "$ref": "#/components/examples/list_card_holder_example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "list_card_holder_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Card Holders"
        ],
        "summary": "Create a Card Holder",
        "description": "Create a Card Holder",
        "operationId": "createACardHolder",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sub_account_id": {
                    "type": "string",
                    "example": "sub_bda1e562657c41e553104b10aad3fe70",
                    "description": "unique id of the sub account"
                  },
                  "person": {
                    "type": "object",
                    "$ref": "#/components/schemas/person"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "6RPD1QW-W75",
                    "description": "unique id to cross-reference records with external systems"
                  },
                  "purpose": {
                    "type": "string",
                    "example": "Ace Sales Rep",
                    "description": "purpose of card holder"
                  },
                  "metadata": {
                    "type": "object",
                    "$ref": "#/components/schemas/metadata"
                  }
                }
              },
              "examples": {
                "Create a Card Holder": {
                  "value": {
                    "sub_account_id": "sub_bda1e562657c41e553104b10aad3fe70",
                    "person": {
                      "first_name": "John",
                      "middle_name": "",
                      "last_name": "Doe",
                      "phone": "+19418405843",
                      "email": "john.doe@gmail.com",
                      "date_of_birth": "1974-01-25",
                      "address": {
                        "line1": "123 Main St",
                        "line2": "",
                        "city": "New York",
                        "state": "NY",
                        "country": "US",
                        "postal_code": "10001"
                      }
                    },
                    "external_reference_id": "6RPD1QW-W75",
                    "purpose": "Ace Sales Expense Card",
                    "metadata": {
                      "designation": "Senior Sales Manager",
                      "employee_number": "77"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a Card Holder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/card_holder"
                },
                "examples": {
                  "card_holder_example": {
                    "$ref": "#/components/examples/card_holder_example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "card_holder_example": {
                    "$ref": "#/components/examples/cardholder_bad_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "card_holder_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "card_holder_example": {
                    "$ref": "#/components/examples/master_account_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/issuing/card_holder/{card_holder_id}": {
      "get": {
        "tags": [
          "Card Holders"
        ],
        "summary": "Retrieve a Card Holder",
        "description": "Retrieve a Card Holder",
        "operationId": "retrieveACardHolder",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Card Holder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/card_holder"
                },
                "examples": {
                  "card_holder_example": {
                    "$ref": "#/components/examples/card_holder_example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "card_holder_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/cardholder_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "patch": {
        "tags": [
          "Card Holders"
        ],
        "summary": "Update a Card Holder",
        "description": "Update a Card Holder",
        "operationId": "updateACardHolder",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "person": {
                    "type": "object",
                    "$ref": "#/components/schemas/person"
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "6RPD1QW-W75",
                    "description": "unique id to cross-reference records with external systems"
                  },
                  "purpose": {
                    "type": "string",
                    "example": "Ace Sales Rep",
                    "description": "purpose of card holder"
                  },
                  "metadata": {
                    "type": "object",
                    "$ref": "#/components/schemas/metadata"
                  },
                  "status": {
                    "type": "string",
                    "example": "activated",
                    "description": "status of card holder",
                    "enum": [
                      "pending_activation",
                      "activated",
                      "suspended",
                      "deactivated"
                    ]
                  }
                }
              },
              "examples": {
                "Update a Card Holder": {
                  "value": {
                    "person": {
                      "first_name": "Johnson"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a Card Holder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/card_holder"
                },
                "examples": {
                  "card_holder_example": {
                    "$ref": "#/components/examples/card_holder_example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "card_holder_example": {
                    "$ref": "#/components/examples/cardholder_bad_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "card_holder_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "card_holder_example": {
                    "$ref": "#/components/examples/cardholder_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "parameters": [
        {
          "name": "card_holder_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v2/issuing/card": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "List all Cards",
        "description": "List all Cards",
        "operationId": "listAllCards",
        "parameters": [
          {
            "name": "sub_account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "sub_bda1e562657c41e553104b10aad3fe70",
              "description": "unique id of the sub account"
            }
          },
          {
            "name": "card_holder_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "cah_a120a61f60dfd40fdb07b2e8bcd1f6f0",
              "description": "unique id of the card holder"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 10,
              "description": "number of records to return"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky",
              "description": "A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 50 records, ending with `Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky`, your subsequent call can include `starting_after=Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky` in order to fetch the next page of the list."
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky",
              "description": "A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 50 records, starting with `Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky`, your subsequent call can include `ending_before= Y2xpXzAxOGY4NjEzMDEyYjdlNTFiOTZjNmVlYWJiNmRiZTky` in order to fetch the previous page of the list."
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List all Cards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/list_card"
                },
                "examples": {
                  "list_card_example": {
                    "$ref": "#/components/examples/list_card_example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "list_card_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Cards"
        ],
        "summary": "Create a Card",
        "description": "Create a Card",
        "operationId": "createACard",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cardholder_id": {
                    "type": "string",
                    "example": "cah_a120a61f60dfd40fdb07b2e8bcd1f6f0",
                    "description": "unique id of the card holder"
                  },
                  "label": {
                    "type": "string",
                    "example": "Travel",
                    "description": "label of the card"
                  },
                  "product": {
                    "type": "string",
                    "example": "business_spend",
                    "description": "type of card product configured based on the client's use case",
                    "enum": [
                      "business_spend",
                      "consumer_debit",
                      "business_debit",
                      "consumer_gpr",
                      "consumer_gpnr",
                      "consumer_payroll",
                      "consumer_hsa",
                      "consumer_fsa",
                      "consumer_govt_benefits"
                    ]
                  },
                  "theme": {
                    "type": "string",
                    "example": "metallic",
                    "description": "theme of the card configured as part of the client use case"
                  },
                  "type": {
                    "type": "string",
                    "example": "physical",
                    "description": "type of card",
                    "enum": [
                      "physical",
                      "virtual"
                    ]
                  },
                  "card_fulfilment": {
                    "type": "object",
                    "properties": {
                      "embossing": {
                        "type": "object",
                        "properties": {
                          "card_holder_name": {
                            "type": "string",
                            "example": "John Doe",
                            "description": "name of the person to be embossed on the card"
                          },
                          "business_name": {
                            "type": "string",
                            "example": "Ace Inc",
                            "description": "name of the business to be embossed on the card"
                          }
                        }
                      },
                      "shipping_address": {
                        "type": "object",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "example": "123 Main St",
                            "description": "line 1 of the address"
                          },
                          "line2": {
                            "type": "string",
                            "example": "",
                            "description": "line 2 of the address"
                          },
                          "city": {
                            "type": "string",
                            "example": "New York",
                            "description": "city of the address"
                          },
                          "state": {
                            "type": "string",
                            "example": "NY",
                            "description": "2-Letter US state abbreviation (ex: CA)"
                          },
                          "country": {
                            "type": "string",
                            "example": "US",
                            "description": "2-letter abbreviated country code (ex: US)"
                          },
                          "postal_code": {
                            "type": "string",
                            "example": "10001",
                            "description": "postal code"
                          }
                        }
                      }
                    }
                  },
                  "controls": {
                    "type": "object",
                    "properties": {
                      "allowed": {
                        "type": "object",
                        "properties": {
                          "merchants": {
                            "type": "array",
                            "description": "an array of merchant names to allow on the card. Example [\"Amazon\",\"Netflix\"]",
                            "items": {
                              "type": "string"
                            }
                          },
                          "categories": {
                            "type": "array",
                            "description": "an array of mcc codes to allow on the card. Example [\"0742\",\"0763\"]",
                            "items": {
                              "type": "string"
                            }
                          },
                          "countries": {
                            "type": "array",
                            "description": "an array of country codes to allow on the card. Example [\"US\",\"IN\"]",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "blocked": {
                        "type": "object",
                        "properties": {
                          "merchants": {
                            "type": "array",
                            "description": "an array of merchant names to block on the card. Example [\"Amazon\",\"Netflix\"]",
                            "items": {
                              "type": "string"
                            }
                          },
                          "categories": {
                            "type": "array",
                            "description": "an array of mcc codes to block on the card. Example [\"0742\",\"0763\"]",
                            "items": {
                              "type": "string"
                            }
                          },
                          "countries": {
                            "type": "array",
                            "description": "an array of country codes to block on the card. Example [\"US\",\"IN\"]",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "limit": {
                        "type": "object",
                        "properties": {
                          "period": {
                            "type": "string",
                            "example": "daily",
                            "description": "time period in which the maximum amount is allowed to be spent",
                            "enum": [
                              "daily",
                              "per_transaction",
                              "weekly",
                              "monthly",
                              "yearly",
                              "all_time"
                            ]
                          },
                          "max_spend_amount": {
                            "type": "string",
                            "example": "500.00",
                            "description": "maximum amount allowed to be spent in the set period"
                          }
                        }
                      },
                      "atm_enabled": {
                        "type": "string",
                        "example": "true",
                        "description": "atm access for the card, true means enabled (by default), false means disabled"
                      }
                    }
                  },
                  "external_reference_id": {
                    "type": "string",
                    "example": "XV-H27LGD-FX",
                    "description": "unique id to cross-reference records with external systems"
                  },
                  "metadata": {
                    "type": "object",
                    "$ref": "#/components/schemas/metadata"
                  }
                }
              },
              "examples": {
                "Create a Card": {
                  "value": {
                    "card_holder_id": "cah_a120a61f60dfd40fdb07b2e8bcd1f6f0",
                    "label": "Travel",
                    "product": "business_spend",
                    "theme": "metallic",
                    "type": "physical",
                    "card_fulfilment": {
                      "embossing": {
                        "card_holder_name": "John Doe",
                        "business_name": "Ace Inc"
                      },
                      "shipping_address": {
                        "line1": "123 Main St",
                        "line2": "",
                        "city": "New York",
                        "state": "NY",
                        "country": "US",
                        "postal_code": "10001"
                      }
                    },
                    "controls": {
                      "limit": {
                        "period": "daily",
                        "max_spend_amount": "500.00"
                      },
                      "atm_enabled": "true"
                    },
                    "external_reference_id": "FSY52RAZ-4X",
                    "metadata": {
                      "description": "Sales Team Card"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a Card",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/card"
                },
                "examples": {
                  "card_example": {
                    "$ref": "#/components/examples/card_example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "card_example": {
                    "$ref": "#/components/examples/card_bad_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "card_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "card_example": {
                    "$ref": "#/components/examples/cardholder_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v2/issuing/card/{card_id}": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Retrieve a Card",
        "description": "Retrieve a Card",
        "operationId": "retrieveACard",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Card",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/card"
                },
                "examples": {
                  "card_example": {
                    "$ref": "#/components/examples/card_example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Error",
            "content": {
              "application/json": {
                "examples": {
                  "card_example": {
                    "$ref": "#/components/examples/unauth_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "examples": {
                  "master_account_example": {
                    "$ref": "#/components/examples/card_not_found_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "patch": {
        "tags": [
          "Cards"
        ],
        "summary": "Update a Card",
        "description": "Update a Card",
        "operationId": "updateACard",
        "parameters": [
          {
            "name": "api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{api_key}}",
              "description": "API key is required to call Solid APIs. You can view and manage your API keys in the Solid dashboard."
[...]
